@import "tailwindcss";

/* 1. TEMAS DE COLOR (Variables que cambian) */
.theme-blue { --brand: #2563eb; --brand-light: #dbeafe; }
.theme-red { --brand: #e11d48; --brand-light: #ffe4e6; }
.theme-green { --brand: #059669; --brand-light: #d1fae5; }
.theme-purple { --brand: #7c3aed; --brand-light: #ede9fe; }

/* 2. CLASES DINÁMICAS (Para usar en el código) */
.bg-brand { background-color: var(--brand); }
.text-brand { color: var(--brand); }
.border-brand { border-color: var(--brand); }
.bg-brand-light { background-color: var(--brand-light); }
.text-brand-dark { color: var(--brand); filter: brightness(0.8); }

/* Animación suave para que el cambio de color no sea brusco */
* { transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; }

/* Animacion de las tareas*/
@keyframes pulse-red{
    0% {bpx-shadow: 0 0 0 0 rgba(225,29,72,0.4);}
    70% {box-shadow: 0 0 0 15px rgba(225,29,72,0);}
    100% {box-shadow: 0 0 0 0 rgba(225,29,72,0);}
}
.border-urgent{
    border: 2px solid #e11d48 !important;
    animation: pulse-red 2s infinte;
}

.dark{
    --bg-main: #0f172a;   
    --bg-card: #1e293b;   
    --text-main: #f8fafc; 
    --text-muted: #94a3b8; 
}

.dark body{
    background-color: var(--bg-main);
    color: var(--text-main);

}

.dark .bg-white{
    background-color: var(--bg-card) !important;
    border-color: #334155 !important;
    color: var(--text-main) !important;
}

.dark .text-gray-900 {color: #f8fafc !important}
.dark .text-gray-500 { color: #94a3b8 !important; }



